<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Light-Blog</title>
  </head>

  <body>
    <header>
      <h1>
        <a href="/"><img src="../src/images/logo.png" alt="" /></a>
      </h1>
      <ul>
        <li>About</li>
        <li>Contact</li>
        <li>Sign-In</li>
        <li>Sign-Up</li>
      </ul>
    </header>
    <h2>スマートに、シンプルに。</h2>
    <p>「ブログを作ってみたいな…」と思ったことはありませんか？</p>
    <p>Light-Blogはシンプルさを追求した、手軽にブログを作成できるサービスです。</p>
    <img src="..src/images/icon-pc.png" alt="" />
    <button>Light-Blogに登録する</button>
    <h2>直感的な操作</h2>
    <p>無駄なUIは排除し、必要最低限の機能を備えた編集ページ。</p>
    <p>メモする感覚で記述する他、Markdown書式を使うこともできます。</p>
    <img src="../src/images/illust-blog.png" alt="" />
    <h2>洗練されたページデザイン</h2>
    <p>デザインについて悩むことはありません。見やすいレスポンシブデザインで固定です。</p>
    <img src="../src/images/illust-responsivedesign.png" alt="" />
    <h2>柔軟な連携サービス</h2>
    <p>Light-BlogはAPIを公開しています。</p>
    <p>すでに公開されているツールを探したり、あなた自身が開発者となり新しいツールを作ることができます。</p>
    <img src="../src/images/illust-api.png" alt="" />
  </body>
</html>
