<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link rel="stylesheet" href="../static/styles/style.css" />
  </head>
  <body>
    <h1>Light-Blogに登録</h1>
    <form action="/" method="POST" class="form">
      <ul>
        <li>
          <label for="user_name">登録名</label>
          <input type="text" id="user_name" />
        </li>
        <li>
          <label for="password">パスワード</label>
          <input type="password" id="password" />
        </li>
        <li><input type="submit" value="登録する" /></li>
      </ul>
    </form>
  </body>
</html>
