<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="stylesheet" href="../static/styles/normalize.css" />
    <link rel="stylesheet" href="../static/styles/style.css" />
  </head>
  <body>
    <h1>Light-Blogに登録</h1>
    <div class="form">
      <form action="/signup" method="POST">
        <ul class="form__item">
          <li>
            <label for="username">登録名</label>
            <input type="text" name="username" id="username" />
          </li>
          {% if alert %}
          <li><p>{{alert}}</p></li>
          {% endif %}
          <li>
            <label for="password">パスワード</label>
            <input type="password" name="password" id="password" />
          </li>
          <li><input type="submit" value="登録する" /></li>
        </ul>
      </form>
      <h2>あなたのブログを、簡単に</h2>
    </div>
  </body>
</html>
